extends ./layout
block content
  each document in data.result
    p
      a(href='#{document.uri}') #{document.country}
  - var n = 1;
  nav
    ul.pagination
      while n <= data.totalPages
        li(class=active == n ? 'active' : '')
          a(href='/'+ n)= n++
