doctype html
html(lang='en')
head
    meta(charset='utf-8')
    link(href='/bower_components/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
  body
    div.container
      h1 Countries of the World 
        span.glyphicon.glyphicon-globe
      block content
    script(src='/bower_components/jquery/dist/jquery.min.js')
